@charset "UTF-8";

div#tv-radio {
	width: 1280px;
	height: 600px;
	margin: auto;
	background: url("../_imagens/radio-tv.png");
    background-repeat: no-repeat;
}

audio#musica {
	display: block;
	position: relative;
	left: 600px;
	top: 489px;
	width: 250px;
}

video#filme {
	display: block;
	position: relative;
	left: 85px;
	width: 445px;
	top: 70px;
}